#dshWebsiteBearbeitenSpalte {
  padding-bottom: 5px;
}

#dshWebsiteBearbeitenAktionen {
  display: flex;
  & > div {
    text-align: center;
    &.modus {
      flex-grow: 1;
    }
    &.version {
      flex-grow: 2;
    }
    &.aktionen {
      flex-grow: 3;
    }

    h3 {
      margin-bottom: 5px;
    }
    .dshUiKnopf {
      margin: 5px;
    }
  }
}

.dshSeiteH #dshWebsiteBearbeitenAktionen {
  flex-flow: column;

  & > div {
    &:not(:first-child) {
      margin-top: 10px;
    }
    .dshUiKnopf {
      width: inherit;
    }
  }
}

.dshWebsiteBearbeitbar {
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.dshWebsiteNeuBalken {
  display: block;
  width: 100%;
  height: 6px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;

  & + div {
    display: none;

    & > .dshUiKnopf {
      margin: 5px;
    }
  }

  &.dshWebsiteNeuSichtbar + div {
    display: flex;
  }
}

// FARBEN
.dshWebsiteBearbeitenInaktiv {
  background-color: @warnungHintergrund;
}

.dshWebsiteBearbeitbar:hover {
  background-color: @abstufung1;
}

.dshWebsiteNeuBalken {
  &,
  & + div {
    background-color: @erfolgHintergrund;
  }

  &:hover {
    background-color: @erfolgAkzent;
  }
}
